header, footer{
    background-color: #6490f5;
    max-width: 1200px;
    min-height: 120px;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}


footer{
    background-color: #4563a8;
    text-align: center;
    min-height: 80px;
    max-height: 80px;
}
.col-sm-8{
    background-color: blue;
}
.col-sm-4{
    background-color: chocolate;
    
}
.principal{
    max-width: 1200px;
}